.advantages .container {
  background-color: $pink;
  display: flex;
  flex-wrap: wrap;
} 

.advantages__title {
  width: 100%;
  line-height: 150%;
  font-size: 62px;
  color: #414141;
  right: 60px;
  top: 40px;
  margin: 0;
}

.agvantages__list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}
.advantages__item {

  padding: 20px;
  width: 263px;
  background-color: $white;
  border-radius: 8px;
}

.advantages__item-title {
  text-align: center;
  margin: 0;
}
.advantages__item-text {
  margin: 15px 0 0 20px;
  
}