.footer {
  background-color: $dark-green;
  position: relative;
  padding: 0 0 20px 0;
}

.footer__border-top {
  fill: $dark-green;
  position: absolute;
  top: -51px;

  @media (max-width: 750px) {
    top: -45px;
  }

  @media (max-width: 460px) {
    top: -41px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__live-internet-counter {
  position: absolute;
  right: 20px;
  bottom: 20px;

  @media (max-width: 1000px) {
    z-index: -1;
  }
}

.footer .container .main-nav {
  @media (max-width: 780px) {
    display: none;
  }
}

.footer__social-networks {
  list-style-type: none;
  width: fit-content;
  display: flex;
  padding: 0;

  @media (max-width: 780px) {
    padding: 15px 0 0 0;
  }
}

.footer__social-networks li {
  margin: 0 0 0 30px;
  transition: $transition-fast;
}

.footer__social-networks li:hover {
  transition: $transition-fast;
  transform: translateY(-5px);
}

.footer__social-networks li:first-child {
  margin: 0;
}

.footer__social-networks-vk {
  width: 50px;
  height: 50px;
}

.footer__social-networks-vk .cls-1 {
  fill: $vk-fill;
}

.footer__social-networks-vk .cls-2 {
  fill: $white;
}

.footer__social-networks-inst {
  width: 50px;
  height: 50px;
}

.footer__social-networks-inst .cls-1 {
  fill: url("#Instt");
}

.footer__social-networks-inst .cls-2 {
  fill: $white;
  fill-rule: evenodd;
}

.footer__social-networks-tg {
  width: 50px;
  height: 50px;
}

.footer__social-networks-tg .cls-1 {
  fill: url("#tgg");
}

.footer__social-networks-tg .cls-2 {
  fill: $white;
  fill-rule: evenodd;
}

.footer__social-networks-watsapp {
  width: 50px;
  height: 50px;
}

.footer__social-networks-watsapp .cls-1 {
  fill: $watsapp-fill;
}

.footer__social-networks-watsapp .cls-2 {
  fill: $white;
  fill-rule: evenodd;
}

.footer__social-networks-watsapp .cls-3 {
  fill: $white;
  fill-rule: evenodd;
}
