.footer { 
  // box-shadow: 0 -7px 11px -8px rgba(34, 60, 80, 0.6);
  background-color: $pink;
  position: relative;
  padding: 0 0 20px 0;
}

.footer__border-top {
  // width: 105%;
  fill: $pink;
  position: absolute;
  top: -60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}  

.footer__social-networks {
  list-style-type: none;
  width: fit-content;
  display: flex;
  padding: 0;

  li {
    margin: 0 0 0 30px;
    transition: $transition-fast;
  }

  li:hover {
    box-shadow: 0 5px 19px 5px rgba(34, 60, 80, 0.2);
    transition: $transition-fast;
    transform: translateY(-5px)
  }

  li:first-child {
    margin: 0;
  }
}

.footer__social-networks-vk {
  width: 50px;
  height: 50px;

  .cls-1 {
    fill:#07f;
  }

  .cls-2 {
    fill: #fff;
  }
}

.footer__social-networks-inst {
  width: 50px;
  height: 50px;

  .cls-1 {
    fill:url(#Inst);
  }

  .cls-2 {
    fill:#fff;
    fill-rule: evenodd;
  }
}

.footer__social-networks-tg {
  width: 50px;
  height: 50px;

  .cls-1{
    fill:url(#tg);
  }

  .cls-2{
    fill:#fff;fill-rule:evenodd;
  }
}

.footer__social-networks-watsapp {
  width: 50px;
  height: 50px;

  .cls-1 {
    fill:#25d366;
  }

  .cls-2 {
    fill:#fff;
    fill-rule:evenodd;
  }

  .cls-3 {
    fill:#fff;
    fill-rule:evenodd;
  }
}