.header { 
  position: fixed;
  width: inherit;
  z-index: 3;
  height: 93px;
}

// .header .container .main-nav {
//   margin: 0 0 0 auto;
// }

.header .container {
  background-color: #84BCB1;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  // text-align: left;
}

// .main-nav {
//   margin: 0 20px 0 0;
//   color: $nav-color;
// }

// .main-nav__list {
//   list-style-type: none;
//   display: flex;
//   padding: 0;
// }

// .main-nav__link {
//   margin: 0 0 0 20px;
//   border-bottom: 1px solid transparent;
//   transition: $transition-fast;
  
//   &:hover {
//     border-bottom: 1px solid $nav-color-hover;
//     transition: $transition-fast;
//     color: $nav-color-hover;
//   }

//   &:first-child {
//     margin: 0;
//   }
// }

.header__link {
  background-color: $logo-color;
  padding: 10px 12px 10px 10px;
  border-radius: 22px;
  display: flex;
  transition: $transition-fast;

  &:hover {
    background-color: $logo-color-hover;
    transition: $transition-fast;
  }

  &:active {
    background-color: $logo-color-active;
    transition: $transition-fast;
  }
}

.header__link-img {
}

.header__link-text {
  color: $white;
  margin: 0 0 0 10px;
  border-bottom: 1px solid transparent;
  
  &:hover {
    border-bottom: 1px solid $white;
  }
}

.header__logo {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%,-50%);
}

.header__social-networks {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%,-50%);
}
.header__social-networks-vk {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;

  g circle {
    fill: transparent;
  }

  g path {
    fill: #fff;
  }

  &:hover g path {
    fill: hsl(0deg, 0%, 90%);
  }
}

.header__social-networks-inst {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;

  g circle {
    fill: transparent;
  }

  g path {
    fill: #fff;
  }

  &:hover g path {
    fill: hsl(0deg, 0%, 90%);
  }
}
.header__social-networks-tg {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;

  g circle {
    fill: transparent;
  }

  g path {
    fill: #fff;
  }

  &:hover g path {
    fill: hsl(0deg, 0%, 90%);
  }
}
.header__social-networks-watsapp {
  width: 30px;
  height: 30px;

  g circle {
    fill: transparent;
  }

  g path {
    fill: #fff;
  }

  &:hover g path {
    fill: hsl(0deg, 0%, 90%);
  }
}