.header { 
  background-color: $white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
}

.main-nav {
  margin: 0 0 0 auto;
  color: $nav-color;
}

.main-nav__list {
  list-style-type: none;
  display: flex;
}

.main-nav__link {
  margin: 0 0 0 20px;
  border-bottom: 1px solid transparent;
  transition: $transition-fast;
  
  &:hover {
    border-bottom: 1px solid $nav-color-hover;
    transition: $transition-fast;
    color: $nav-color-hover;
  }
}

.header__link {
  background-color: $logo-color;
  padding: 10px 12px 10px 10px;
  border-radius: 50%;
  
  &:hover {
    background-color: $logo-color-hover;
  }
  
  &:active {
    background-color: $logo-color-active;
  }
}

.header__link-img {
}