.hero {
  padding: 93px 0 0 0;
  background-color: #84BCB1;
  height: 100vh;

  @media (max-width: 920px) {
    height: auto;
  }
}

.hero .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  
  @media (max-width: 920px) {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: max-content;
  text-align: center;
  z-index: 1;
  padding: 0 0 50px 0;
  min-width: 50%;

  @media (max-width: 920px) {
    margin: 0 auto;
    width: 100%;
  }
}

.hero__info-title {
  margin: 0;
  line-height: 150%;
  color: rgb(147, 188, 180);
  font-size: 54px;
}

.hero__info-desc {
  margin: 0;
  color: #dfdfdf;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  background-color: #ff9494;
  width: 300px;
  padding: 40px;
  text-transform: uppercase;
  border-radius: 40px;
  transform: rotate(8deg);
  top: 40px;
  right: 30px;

  @media (max-width: 1170px) {
    left: 567px;
    transform: rotate(-10deg);
  }

  @media (max-width: 960px) {
    transform: rotate(-10deg) scale(81%);
  }

  
  @media (max-width: 920px) {
    display: none;
  }
}

.hero__text {
  font-size: 28px;
  color: #dfdfdf;
  line-height: 1.2;
  margin: 0;
}

.hero__text a {
  color: #ffffff;
  border-bottom: 1px solid #993838;
  transition: $transition-slow;
}

.hero__text a:hover {
  color: #6464f9;
  border-bottom: 1px solid #6464f9;
  transition: $transition-slow;
}

.hero__text:nth-of-type(1) {
  position: absolute;
  background-color: #528e91;
  padding: 66px 31px 66px 31px;
  width: 196px;
  border-radius: 999px;
  font-size: 19px;
  top: 89px;
  right: 351px;

  @media (max-width: 1200px) and (min-width: 1171px) {
    left: 645px;
  }

  @media (max-width: 1170px) and (min-width: 1101px){
    right: 63px;
    top: 125px;
  }

  @media (max-width: 1100px) {
    right: 45px;
    top: 167px;
  }

  @media (max-width: 990px) {
    top: 186px;
  }

  @media (max-width: 960px) {
    transform: scale(80%);
  }

  @media (max-width: 920px) {
    display: none;
  }
}

.hero__text:nth-of-type(2) {
  position: absolute;
  background-color: #7896b7;
  max-width: 408px;
  top: 271px;
  right: 19px;
  font-size: 30px;
  padding: 23px 1px 23px 0;
  border-bottom-left-radius: 55px;
  border-top-left-radius: 55px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(-11deg) scale(81%);

  @media (max-width: 1170px) {
    left: 584px;
    transform: rotate(15deg) scale(81%);
    top: 338px;
  }

  @media (max-width: 1030px) {
    left: 544px;
    transform: rotate(15deg) scale(81%);
    top: 366px;
  }

  @media (max-width: 960px) {
    transform: rotate(15deg) scale(61%);
  }

  @media (max-width: 920px) {
    display: none;
  }
}

.hero__main {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 80px 0 0 0;
  
  @media (max-width: 1200px) {
    width: 600px;
  }
  
  @media (max-width: 920px) {
    width: 80%;
    padding: 20px 0 0 0;
    height: fit-content;
  }


}

.hero__main-p {
  height: fit-content;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  margin: 0 7px 0 7px;
  padding: 0 5px 0 5px;
}

.hero__main-desc {
  color: white;
  font-size: 19px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 109px;
  font-weight: 700;
  color: white;
  line-height: 0.8;
  margin: 20px 0 0 0;
  height: fit-content;
}

.hero__title span {
  border: 1px solid green;
  padding: 0px 0px 20px 14px;
}

.hero__link {
  color: #dfdfdf;
  padding: 10px 12px 10px 10px;
  display: flex;
  transition: all 0.2s ease-in-out;
  min-width: 70%;
  text-transform: uppercase;
  font-size: 25px;
  align-self: flex-start;
  position: relative;
  border-radius: 5px;
  margin: 0px auto 20px;
  justify-content: center;
  
  @media (max-width: 990px) {
    min-width: 40%;
  }
  
  @media (max-width: 960px) {
    margin: 0 0 20px 0;
  }
  
  @media (max-width: 920px) {
    align-self: flex-end;
  }
}

.hero__link:hover {
  background: none;
}

.hero__link::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.hero__link:hover > .hero__link::before {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.hero__link-text {
  color: $white;
  margin: 0 0 0 10px;
  border-bottom: 1px solid transparent;
  display: block;
}

.hero__link-text:hover {
  border-bottom: 1px solid $white;
}

.hero__border-triangle {
  fill: hsl(0deg, 0%, 90%);
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 2;
}

.hero__background {
  position: absolute;
  width: 91%;
  transform: rotate(90deg);
  bottom: 231px;
  right: -197px;
  z-index: 0;
}
