.maincontent {
  padding: 70px 0 0 0;
}

.hero {
  margin: 20px 0 0 0;
}

.hero .container {
  display: flex;
  position: relative;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 65%;
  text-align: right;
  padding: 0 30px 0 0;
  z-index: 1;
}

.hero__info-title {
  margin: 20px 0 0 0;
  line-height: 150%;
  font-size: 54px;
  color: $hero-font-color;
  // -webkit-text-stroke: 1px $gray;
  // text-transform: uppercase;
  // color: $pink;
  color: #a88b88;

}

.hero__text {
  font-size: 22px;
  color: #4d4846;

  a {
    color: #993838;
    border-bottom: 1px solid #993838;
    transition: $transition-slow;
  }
  
  a:hover {
    color: #6464f9;
    border-bottom: 1px solid #6464f9;
    transition: $transition-slow;
  }
}

.hero__img {
  width: 450px;
  height: 544px;
  position: relative;
  overflow: visible;

  &-original {
    position: relative;
    z-index: 1;
  }

  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    stroke-width: 5px;

    path {
      stroke-width: 50px;
      stroke: $pink;
    }
  }
}

.hero__link {
  background-color: $logo-color;
  padding: 10px 12px 10px 10px;
  border-radius: 22px;
  display: flex;
  transition: $transition-fast;
  width: fit-content;

  &:hover {
    background-color: $logo-color-hover;
    transition: $transition-fast;
  }

  &:active {
    background-color: $logo-color-active;
    transition: $transition-fast;
  }
}


.hero__link-text {
  color: $white;
  margin: 0 0 0 10px;
  border-bottom: 1px solid transparent;
  display: block;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.hero__border-triangle {
  fill: $pink;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 2;
}

.hero__background {
  position: absolute;
  width: 75%;
  transform: rotate(4deg);
  bottom: 1px;
  right: 0;
  z-index: 0;
}