.maincontent {
}

.hero {
  padding: 93px 0 0 0;

  background-color: #497970;
  height: 100vh;
}

.hero .container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-self: flex-start;
  width: max-content;
  text-align: right;
  padding: 0 30px 0 0;
  z-index: 1;
  padding: 0 0 50px 0;
  min-width: 50%;
}

.hero__info-title {
  margin: 0;
  line-height: 150%;
  color: rgb(147, 188, 180);
  // -webkit-text-stroke: 1px $gray;
  // text-transform: uppercase;
  // color: $pink;
  font-size: 54px;
}

.hero__info-desc {
  margin: 0;
  color: #dfdfdf;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
}

.hero__text {
  font-size: 28px;
  color: #dfdfdf;
  line-height: 1.2;
  margin: 0;

  a {
    color: #ffffff;
    border-bottom: 1px solid #993838;
    transition: $transition-slow;
  }
  
  a:hover {
    color: #6464f9;
    border-bottom: 1px solid #6464f9;
    transition: $transition-slow;
  }
}

.hero__img {
  margin: 0 0 0 -20px;
  height: 100%;
  width: auto;
  max-width: 50%;
  // height: 544px;
  position: relative;
  overflow: visible;

  &-original {
    position: relative;
    z-index: 1;
  }

  // &-background {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: auto;
  //   stroke-width: 5px;

  //   path {
  //     stroke-width: 50px;
  //     stroke: $pink;
  //   }
  // }
}

.hero__link {
  color: #dfdfdf;
  // border: 2px solid #dfdfdf;
  padding: 10px 12px 10px 10px;
  display: flex;
  transition: $transition-fast;
  width: fit-content;
  text-transform: uppercase;
  font-size: 25px;
  align-self: flex-end;
  position: relative;
  background-color: #7d46b5;
  border-radius: 5px;

  &:hover {
    background: none;
  }
}

.hero__link:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.hero__link:hover > .hero__link:before {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}


.hero__link-text {
  color: $white;
  margin: 0 0 0 10px;
  border-bottom: 1px solid transparent;
  display: block;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.hero__border-triangle {
  fill: hsl(0deg, 0%, 90%);
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 2;
}

.hero__background {
  position: absolute;
  width: 91%;
  transform: rotate(90deg);
  bottom: 231px;
  right: -197px;
  z-index: 0;
}