.main-nav {
  margin: 0;
  color: #fff;
  position: relative;
  width: 100%;
}

.main-nav__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;

  &--droped {
    position: absolute;
    transform: rotateX(90deg);
    // height: 0;
    list-style-type: none;
    background-color: $white;
    width: 200px;
    padding: 0;
    text-align: right;
    margin: 0;
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
    transition: transform .3s;
    right: 0;
    top: 56px;
  }
}

.main-nav__link {
  margin: 0 0 0 20px;
  border-bottom: 1px solid transparent;
  transition: $transition-fast;
  position: relative;
  display: flex;
  
  &:hover {
    border-bottom: 1px solid $nav-color-hover;
    transition: $transition-fast;
    color: $nav-color-hover;
  }

  &:first-child {
    margin: 0;
  }
}

.main-nav__link:hover > .main-nav__list--droped {
  transform: rotateX(0deg);
  height: auto;
  transition: transform .3s;
  margin-right: fit-content;
}

.main-nav__list--droped .main-nav__link {
  margin: 10px 10px 10px 0;
  width: fit-content;
  align-self: flex-end;
}

.main-nav__hover-logo {
  // background-color: red;
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px 0 0;
  transform: rotate(0deg) translateY(3px);
  transition: all 1s;

  span:first-child {
    display: block;
    height: 3px;
    background-color: white;
    width: 100%;
    transition: all 0.5s;
  }
  
  span:nth-child(2) {
    width: 66%;
    display: block;
    height: 3px;
    background-color: white;
    // align-self: flex-end;
    transition: all 0.5s;
  }
  
  span:last-child {
    width: 33%;
    display: block;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
  }
}

.main-nav__link:last-child .main-nav__hover-logo {
  transform: scale(-1, 1);
  margin: 0 0 0 5px;
}

.main-nav__link:hover .main-nav__hover-logo {
  transform: rotate(450deg);
  transition: all 1s;
  
  span:first-child {
    display: block;
    height: 3px;
    background-color: white;
    width: 50%;
    transition: all 0.5s;
    transform: rotate(45deg);
    top: -3px;
    position: absolute;
    right: 0;
  }
  
  span:nth-child(2) {
    width: 100%;
    display: block;
    height: 3px;
    background-color: white;
    // align-self: flex-end;
    transition: all 0.5s;
    position: absolute;
    align-self: center;
  }
  
  span:last-child {
    width: 50%;
    display: block;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg);
    transition: all 0.5s;
    position: absolute;
    top: 3px;
    right: 0;
  }
}