.header__change-theme-button {
  height: 50px;
  width: 50px;
  margin: 0 20px 0 auto;
  background-image: url("../img/theme/light-theme.png");
  background-size: 100% 100%;
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  padding: 0;
  transform: rotate(0deg);
  transition: transform 1.5s, background-size 0.5s;

  &:hover {
    cursor: pointer;
    transform: rotate(250deg);
    transition: transform 1.5s, background-size 0.5s;
  }

  &:active {
    background-size: 70% 70%;
    transition: transform 1.5s, background-size 0.5s;
  }
}

.dark-theme .header__change-theme-button {
  background-image: url("../img/theme/dark-theme.png");
}

.dark-theme .hero {
  background-color: #186f5d;
  color: #8FBDB2;
}

.dark-theme .header  {
  background-color: #186f5d;
}
